/* ── RESET ── */
*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}
html{scroll-behavior:smooth}
img{display:block;max-width:100%}
button{cursor:pointer;font-family:inherit}
input,textarea,select{font-family:inherit}

/* ── SCROLLBAR ── */
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-track{background:var(--surf2)}
::-webkit-scrollbar-thumb{background:var(--muted2);border-radius:99px;border: 2px solid var(--surf2);}
